{% extends 'page2.html' %}
{% load static %}
{% load widget_tweaks%}
{% block product %}
<head>

</head>
 {% for product in products %}
          <div class="col-lg-3 col-md-6 mb-4" style="display: inline-block; vertical-align: top;">
            <!--Card-->
            <div class="card" >

              <!--Card image1-->
              <div class="" style="margin: 0; position: relative;
                overflow: hidden;
	    width: auto;
	    height: 250px;">
              {% include 'windowed_policy/description.html' %}
                  <a href="{{ product.get_absolute_url }}" data-toggle="modal" data-target="#desc_modal">
                  <p style="margin: 0"><img src="{% if product.image %}{{ product.image.url }}{% else %}{% static "images/avatar.jpg" %}{% endif %}" class="card-img-top" alt="food" style="position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	width: auto;
	height: 250px;
	object-fit: cover;"> </p>
              </a>
                <a href="{% url 'products:product_detail' id=product.id slug=product.slug %}" >
                  <div class="mask rgba-white-slight"></div>
                </a>
              </div>
              <!--Card image1-->
              <!--Card content-->
              <div class="card-body text-center">
                <!--Category & Title-->
                <a href="{{ product.get_absolute_url }}" class="grey-text">
                  <h5>{{ product.category }}</h5>
                </a>
                <h5>
                  <strong>
                    <a href="{{ product.get_absolute_url }}" class="dark-grey-text">{{ product.name }}
                    </a>
                  </strong>
                </h5>
                <h4 class="font-weight-bold blue-text">
                    <a href="{{ product.get_absolute_url }}" class="dark-grey-text">
                  <strong>{{ product.price }} ₸</strong>
                    </a>
                </h4>
                            <a href="{% url 'products:product_detail' id=product.id slug=product.slug %}" >
                                <input type="submit" value="More Details" class="btn btn-primary">
                            </a>
              </div>
              <!--Card content-->

            </div>
            <!--Card-->
          </div>

        {% endfor %}
{% endblock %}