<head>
    <style>
        .left-sidebar{
            margin-top: 200px;
            background-color: white;
        }
        .left-sidebar li{
            padding: 15px 20px;
        }
        .left-sidebar a{
            text-decoration: none;
            color: black;
            font-size: 16px;
            font-weight: 400;
            display: block;
        }
        .left-sidebar_menu{
            list-style: none;
            padding: 0;
        }
    </style>
    <title></title>
</head>
<div class="row">
    <div class="col-md-4">
        <div class="left-sidebar">
            <ul class="left-sidebar_menu">
                <li><a href="">Дом</a></li>
                <li><a href="">Работа</a></li>
                <li><a href="">Мечта</a></li>
                <li><a href="">Твоя</a></li>
            </ul>
        </div>
    </div>
    <!-- /.col-md-4 -->
    <div class="col-md-8">
            {% block product %}

           {% endblock product%}
    </div>
    <!-- /.col-md-8 -->
</div>
<!-- /.row -->

 <div class="container" style="padding-top: 60px;">

<!--Main Navigation-->
<nav class="navbar navbar-expand-lg navbar-dark mdb-color lighten-3 mt-3 mb-5" style="">

        <!-- --------------------------------------------------Navbar2------------------------------------------------------- -->
        <span class="navbar-brand">Категории:</span>
        <!-- Collapsible content -->
        <div class="collapse navbar-collapse" id="basicExampleNav">

          <!-- Links -->
          <ul class="navbar-nav mr-auto">
            <li class="nav-item {% if not category %}active{% endif %}">
              <a class="nav-link" href="{% url "products:list" %}">Все
              </a>
            </li>

          {% for c in categories  %}
                <li class="nav-item {% if category.slug == c.slug%}active{% endif %}">
                    <a class="nav-link" href="{{ c.get_absolute_url }}">{{ c.name }}</a>
                </li>
            {% endfor %}

          </ul>
          <!-- Links -->

          <!-- search -->
          <form class="form-inline" action="{% url 'products:search'%}" >
            <div class="md-form my-0">
              <input name = "q" class="form-control mr-sm-2" type="text" placeholder="Search" aria-label="Search">
            </div>
          </form>
        </div>
        <!-- Collapsible content -->

      </nav>

      <!--Navbar2-->

      <!-----------------------------------------------------/.Navbar2-------------------------------------------------------->

      <!--Section: Products v.3-->
      <section class="text-right mb-4 img-fluid" style="">
        <!--Grid row-->
        <div class="row wow fadeIn float-lg">


      <!-----------------------------------------------------------Section1.1------------------------------------------------------------->
       {% block product %}

           {% endblock product%}

       <!-----------------------------------------------------------Section1.1------------------------------------------------------------->
         {% if user.is_authenticated %}
            <div class="col-lg-3 col-md-6 mb-4" style="display: inline-block; vertical-align: top;">
            <!--Card-->
            <div class="card">

              <!--Card image1-->
              <div class="view-overlay" style="margin: 0; position: relative;
                overflow: hidden;
	    width: 250px;
	    height: 250px;">
                  <p><img src="{% static "add.jpg" %}" class="card-img-top" alt="food" style="position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	width: 250px;
	height: 250px;
	object-fit: cover;"></p>
                <a href="{% url 'products:adding' %}">
                  <div class="mask rgba-white-slight"></div>
                </a>
              </div>
              <!--Card image1-->

              <!--Card content-->
              <div class="card-body text-center">
                <!--Category & Title-->
                <a href="{% url 'products:adding' %}" class="grey-text">
                  <h5>ADD Category</h5>
                </a>
                <h5>
                  <strong>
                    <a href="" class="dark-grey-text">You can add Product
                    </a>
                  </strong>
                </h5>
                  <h5>
                      <hr>
                </h5>
                  <a href="{% url 'products:adding' %}">
                <h4 class="font-weight-bold blue-text">
                  <input type="submit" value="Click here" class="btn btn-primary">
                </h4>
                  </a>
              </div>
              <!--Card content-->

            </div>
            <!--Card-->
          </div>
{% endif %}
       <!-----------------------------------------------------------Section1.2------------------------------------------------------------->

          <!-----------------------------------------------------------Section2.4------------------------------------------------------------->
            <!---------------------------------------------------------------------------->
        </div>
      <!--Pagination-->
      <nav class="d-flex justify-content-center wow fadeIn">
                    <ul class="pagination pg-blue">

                        <!--Arrow left-->
                    {% if products.has_previous %}
                        <li class="page-item ">

                            <a class="page-link" href="?page={{ products.previous_page_number }}" aria-label="Previous">
                                <span aria-hidden="true">&laquo;</span>
                                <span class="sr-only">Previous</span>
                            </a>

                        </li>
                    {% endif %}
    {% for num in products.paginator.page_range %}
                        {% if products.number == num %}
                        <li class="page-item active">
                        <a class="page-link" href="?page={{ products.page_number }}">{{ num }}
                                <span class="sr-only">(current)</span>
                            </a>
                        </li>
                        {% elif num > products.number|add:'-3' and num < products.number|add:'3' %}
                            <li class="page-item ">
                            <a class="page-link" href="?page={{ num }}">{{ num }}
                                <span class="sr-only">(current)</span>
                            </a>

                        </li>
                        {% endif %}
{% endfor %}
                     {% if products.has_next %}
                        <li class="page-item">

                            <a class="page-link" href="?page={{ products.next_page_number }}" aria-label="Next">
                                <span aria-hidden="true">&raquo;</span>
                                <span class="sr-only">Next</span>
                            </a>

                        </li>
                        {% endif %}
                    </ul>
                </nav>
                <!--Pagination-->
        <!--Grid row-->
      </section>
      <!--Section: Products v.3-->
    </div>

