{% extends 'base.html' %}
{% block content %}
    {% load static %}
    {% include 'header.html' %}
<!--======================================================= Full Page  -->
      <div class="view " style="
              background-image: url({% static 'backg.jpg' %}); background-repeat: no-repeat; background-size: cover; ">
      <div class="col-lg-3 col-md-6 mb-4" style="display: inline-block; vertical-align: top; transform: translate(0px, 100px)">
            <!--Card-->
            <div class="card" style="height: 600px">

              <!--Card image1-->
              <div class="view overlay" style="margin: 0;">
              <a href="">
                  <p style="margin: 0;"><img src="{{ user.account.account_img.url }}" class="card-img-top"  alt="froot" > </p>
              </a>
                <a href="" >
                  <div class="mask rgba-white-slight"></div>
                </a>
              </div>
              <!--Card image1-->

              <!--Card content-->
              <div class="card-body text-center">
                <!--Category & Title-->
                <a href="" class="grey-text">
                  <h5>Welcome! {{ user.username }}</h5>
                </a>
                <h5>
                  <strong>
                    <a href="" class="dark-grey-text">First Name: {{ user.first_name }}
                    </a>
                  </strong>
                </h5>
                <h5 class="font-weight-bold blue-text">
                    <a href="" class="dark-grey-text">
                  <strong>Last Name: {{ user.last_name }}</strong>
                    </a>
                </h5>
                    <h5 class="font-weight-bold blue-text">
                    <a href="" class="dark-grey-text">
                  <strong>UserName: {{ user.username }}</strong>
                    </a>
                </h5>
              </div>
              <!--Card content-->
                <button type="button" class="btn btn-light-blue"><a href="https://web.telegram.org/#/im?p=@Yljdeo_Bot" style="color: white">Telegram </a></button>
            </div>
            <!--Card-->
          </div>
          <!------------------------------------------------------------------------>
        {% include 'checkorder.html' %}
      </div>
       <!--========================================================Full Page -->

{% endblock %}