{% extends "base.html" %}
{% load tz %}
{% block content %}

<div class="container p-b-200 m-b-150" style="transform: translate(-100px,100px)">
    <div class="row">
        <div class="col l12">
            <h1>Success message send </h1>
            <p>

We are very grateful that you leave your wishes and mistakes on our website.</p>
        </div>
        <div class="form-group" style="transform: translate(-1030px,110px)">
            <button class="btn btn-rounded purple-gradient btn-sm float-left btn-block"> <a href="{% url 'index' %}" style="color: white">Go back</a> </button>
        </div>
    </div>
</div>


{% endblock %}